{%  extends "base.html" %}

{% block content %}
<div class="govuk-width-container">
  <a href="/" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/create-masterclass/content/job-family" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which DDaT job family is your masterclass related to?
                </h1>
              </legend>
              <span id="DDaT-job-family-link" class="govuk-hint">
                <a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework#data-job-family">Find out more about the DDaT job families</a>
              </span>
              {% include 'partials/ddat-job-family-radios.html' %}
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}