<div class="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="select-job-family" name="select-job-family" type="radio" value="data">
    <label class="govuk-label govuk-radios__label" for="select-job-family">
      Data
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="select-job-family-2" name="select-job-family" type="radio" value="it operations">
    <label class="govuk-label govuk-radios__label" for="select-job-family-2">
      IT operations
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="select-job-family-3" name="select-job-family" type="radio" value="product and delivery">
    <label class="govuk-label govuk-radios__label" for="select-job-family-3">
      Product and delivery
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="select-job-family-4" name="select-job-family" type="radio" value="quality assurance testing">
    <label class="govuk-label govuk-radios__label" for="select-job-family-4">
      Quality assurance testing
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="select-job-family-5" name="select-job-family" type="radio" value="technical">
    <label class="govuk-label govuk-radios__label" for="select-job-family-5">
      Technical
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="select-job-family-6" name="select-job-family" type="radio" value="user-centred design">
    <label class="govuk-label govuk-radios__label" for="select-job-family-6">
      User-centred design
    </label>
  </div>
</div>