{% extends "base.html" %} {% block content %}

{% set spaces_remaining = masterclass_data.remaining_spaces() %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ masterclass_data.content.name }}</h1>
            {% if already_attendee %}
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                      You're already attending this masterclass
                    </h1>
                </div>
                
                {% elif not already_attendee and spaces_remaining == 0 %}
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                      This masterclass is full
                    </h1>
                </div>
                {% endif %}
            <form class='govuk-form-group' action='/masterclass/{{ masterclass_data.id }}' method="post">   
                <div>
                    <h2 class="govuk-heading-m">Description</h2>
                    <p class="govuk-body">{{ masterclass_data.content.description }}</p>
                    <h2 class="govuk-heading-m">When</h2>
                    <p class="govuk-body">{{ masterclass_data.timestamp.strftime("%X") }} <br> {{ masterclass_data.timestamp.strftime("%A") }} {{ masterclass_data.timestamp.day }} {{ masterclass_data.timestamp.strftime("%B") }} {{ masterclass_data.timestamp.year }}</p>
                    <h2 class="govuk-heading-m">Location</h2>
                    {% if masterclass_data.is_remote %}
                        <p class="govuk-body">Remote</p>
                        {% if already_attendee %}
                            <h2 class="govuk-heading-m">Joining link</h2>
                                <p class="govuk-body"><a href={{ masterclass_data.remote_url }}>{{ masterclass_data.remote_url }}</a></p>
                            <h2 class="govuk-heading-m">Joining instructions</h2>
                                <p class="govuk-body">{{ masterclass_data.remote_joining_instructions }}</p>
                        {% endif %}
                    {% else %}
                        <p class="govuk-body">{{ masterclass_data.location.name }}</p>
                        <p class="govuk-body">{{ masterclass_data.location.address }}</p>
                    {% endif %}
                <tr>
                    <h2 class="govuk-heading-m">Instructor</h2>
                    <p class="govuk-body">{{ masterclass_data.instructor.first_name }} {{ masterclass_data.instructor.last_name }}</p>
                    <h2 class="govuk-heading-m">Remaining places</h2>
                    <p class="govuk-body">{{ spaces_remaining }}</p>
                </div>
                {% if not already_attendee and spaces_remaining > 0 %}
                <button id ="signup-button" type="submit" class="govuk-button" data-module="govuk-button">
                        Sign up
                </button>
                {% endif %}
            </form> 
        </div>

    </main>
</div>

{% endblock %}